@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap');

:root {
  --text: #e7ecf3;
  --background: #0c141d;
  --primary: #a2bbd8;
  --secondary: #2f5279;
  --accent: #5a8ac4;
  --warning: #e76f51;
}

:root[data-theme="1"] {
  --text: #0c1118;
  --background: #e2eaf3;
  --primary: #27405d;
  --secondary: #86a8d0;
  --accent: #3b6ba5;
  --warning: #ae2012;
}

/* https://colorhunt.co/palette/0926351b42425c83749ec8b9 */
:root[data-theme="2"] {
  --text: aliceblue;
  --background: #092635;
  --primary: #5C8374;
  --secondary: #1B4242;
  --accent: #9EC8B9;
  --warning: #BE3144;
}

:root[data-theme="3"] {
  --text: aliceblue;
  --background: #161A30;
  --primary: #B6BBC4;
  --secondary: #31304D;
  --accent: #F0ECE5;
  --warning: #F6B17A;
}

:root {
  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  --border-radius: 24px;
  --font-family: 'Outfit', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  transition:
    background-color 0.5s,
    color 0.5s;
}

.test {
  border: 3px solid red;
}